/* Main page CSS */

html {
  background-color: #121726;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
}
.container {
  margin: 1em auto;
  padding: 0 1em;
  width: 34em;
}
.title {
  font-weight: 300;
  text-align: center;
  font-size: 2.4em;
}
.game-title {
  font-weight: 300;
  font-size: 1.8em;
}
.block {
  background-color: #262E41;
  border-radius: 6px;
  padding: 1em;
  margin-top: 10px;
}
.block img {
  max-width: 100%;
}
.block.warning {
  background-color: rgb(134, 24, 24);
}

/* Input CSS */

input[type=text], select {
  width: 200px;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
}
.inputBox {
  overflow: hidden;
  padding-right: .5em;
}
.inputBox input {
  width: 100%;
}

/* Button CSS */

input[type=submit] {
  float: right;
  background-color: #f27405;
  color: #ffffff;
  border: none;
  font-size: 16px;
  padding: 12px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.2);
  outline: none;
  cursor: pointer;
  /* needed for mobile safari */
  -webkit-appearance: none;
}
input[type=submit]:hover {
  background-color: #f25c05;
}
input[type=submit]:active {
  transform: translateY(3px);
  box-shadow: none;
}
.disabled {
  background-color: #B5B5B4 !important;
  cursor: not-allowed !important;
}

/* Link CSS */

a:link {
  color: #f27405;
}
a:visited {
  color: #f25c05;
}
a:visited, a:visited {
  text-decoration: none;
}
a:hover, a:active {
  color: #f25c05;
  text-decoration: underline;
}

/* Footer */

footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: -200px;
  width: 400px;
  height: 30px;
  text-align: center;
  font-size: 12px;
}

/* "Responsiveness" */

@media only screen and (max-width: 600px) {
  .container {
    width: 22em;
  }
  .title {
    font-size: 1.8em;
  }
  .block {
    font-size: 14px;
  }
  #buyButton {
    float: none;
    margin-left: 180px;
    margin-top: 10px;
  }
  .game-title {
    font-size: 1.4em;
  }
}
@media only screen and (max-width: 400px) {
  .container {
    width: 15em;
  }
  .title {
    font-size: 1.2em;
  }
  #buyButton {
    margin-left: 0px;
    width: 100%;
  }
  .game-title {
    font-size: 1.2em;
  }
}